<div class="slidebar">
    <div class="side_logo">
        <a routerLink="/index">
            <img src="./assets/instant-bc-images/images/bwlogo.png" alt="">
        </a>
    </div>
    <nav>
        <ul>
            <li class="dropDown" aria-haspopup="true">
                <a routerLink="/index">
                    <i class="m-menu__link-icon flaticon-dashboard"></i>
                    <span>DASHBOARD</span>
                    <i class="fa fa-caret-up subMenu_open"></i>
                </a>



                <ul class="submenu">
                    <li routerLinkActive="change" aria-haspopup="true">
                        <a routerLink="/chats/" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-icon flaticon-chat-1"></i>
                            <span class="m-menu__link-text">
                                Chat
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="logout">
        <a routerLink="/logout">
            <i class="fa fa-sign-out"></i>
            <span>LOGOUT</span>
        </a>
    </div>
</div>
