<div class="spacer_30"></div>
<div class="container">
    <div class="row headings">
        <div class="col">
            <h2>
                Change Password
            </h2>
        </div>
    </div>
</div>
<div class="spacer_30"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="m-portlet m-portlet--tab bg-white" *ngIf="addProfile">
                <form class="m-form m-form--fit m-form--group-seperator-dashed" [formGroup]="addProfile" novalidate
                    enctype="multipart/form-data">
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row has-error ">
                            <label class="col-lg-4 col-form-label">Enter Current Password</label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control m-input" placeholder=""
                                    formControlName="currentPassword" required>
                                <!-- {{addProfile.get('currentPassword').errors}} -->
                                <!-- <div *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)"
                                    class="m-alert m-alert--outline alert alert-danger alert-dismissible" role="alert">

                                    <span class="m-form__help" *ngIf="currentPassword.errors.required">Current Password
                                        is required.</span>
                                    <span class="m-form__help"
                                        *ngIf="addProfile.get('currentPassword').errors.passwordFailed">Entered password
                                        doesn't match current password.</span>

                                </div> -->
                                <div *ngIf="addProfile.get('currentPassword').status === 'PENDING'"
                                    class="m-alert m-alert--outline alert alert-danger alert-dismissible" role="alert"
                                    style="border-color: #08ca55;color: #006f2c;">
                                    Checking...
                                </div>
                                <div *ngIf="addProfile.get('currentPassword').status === 'VALID'"
                                    class="m-alert m-alert--outline alert alert-danger alert-dismissible" role="alert"
                                    style="border-color: #08ca55;color: #006f2c;">
                                    Password match success!
                                </div>

                                <div *ngIf="addProfile.get('currentPassword').errors && addProfile.get('currentPassword').errors.passwordFailed"
                                    class="m-alert m-alert--outline alert alert-danger alert-dismissible" role="alert">
                                    Oh no !!, Password doesn't match!
                                </div>



                                <!-- <ng-container *ngIf="!currentBool">
                                        <div *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)" class="m-alert m-alert--outline alert alert-danger alert-dismissible"
                                            role="alert">
                                            <span class="m-form__help" *ngIf="currentPassword.errors.required">Current Password is required.</span>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="currentBool">
                                        <div class="m-alert m-alert--outline alert alert-danger alert-dismissible"
                                            role="alert">
                                            <span class="m-form__help" >The current password you have entered is wrong.</span>
                                        </div>
                                    </ng-container> -->
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">Enter New Password</label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control m-input" placeholder=""
                                    formControlName="password" required>
                                <div *ngIf="addProfile.get('password').errors &&(addProfile.get('password').dirty || addProfile.get('password').touched)"
                                    class="m-alert m-alert--outline alert alert-danger alert-dismissible" role="alert">
                                    <span class="m-form__help"
                                        *ngIf="addProfile.get('password').errors.required">Password is
                                        required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">Re-Enter New Password</label>
                            <div class="col-lg-6">
                                <input type="password" (blur)="passwordEqualCheck()" class="form-control m-input"
                                    placeholder="" formControlName="rePassword" required>
                                <ng-container *ngIf="!reTypeBool">
                                    <div *ngIf="addProfile.get('rePassword').errors && (addProfile.get('rePassword').dirty || addProfile.get('rePassword').touched)"
                                        class="m-alert m-alert--outline alert alert-danger alert-dismissible"
                                        role="alert">
                                        <span class="m-form__help"
                                            *ngIf="addProfile.get('rePassword').errors.required">Password is
                                            required.</span>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="reTypeBool">
                                    <div class="m-alert m-alert--outline alert alert-danger alert-dismissible"
                                        role="alert">
                                        <span class="m-form__help">New Password does not match with the Re-Entered
                                            Password.</span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-6">
                                    <button type="submit" [disabled]="addProfile.invalid || loading"
                                        [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"
                                        (click)="editProfile()" class="btn btn-blue mr-2"
                                        style="width: 25%;">Submit</button>
                                    <button type="submit" (click)="addProfile.reset()"
                                        class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>